<!-- <app-root></app-root> -->

<!-- Navbar -->
<app-nav></app-nav>
<!-- Promo advert -->
<div style="margin-right: 155px; margin-left: 145px">
  <div
    class="text-white bg-secondary"
    style="
      font-size: 25px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    "
  >
    <marquee behavior="row" direction="left">
      <SPan class="text-light badge bg-warning"> PROMO! PROMO!! PROMO!!! </SPan
      >Enjoy Free Unlimited Delivery on
      <SPan class="text-warning"> EDDIE-FLEX</SPan>ONLINESTORE Amazing deals
      just for you Get 10% off every purchase with
      <span class="text-warning"> EDDIE-FLEX </span>
      loyalty card
    </marquee>
  </div>
</div>

<!-- SECTIONS-ONE  -->
<div class="container">
  <div class="row">
   
    <div class="col">
      <app-mycard 
      image = './assets/chair.jpg'
      title = 'Swivel Chair' 
      amount = '$95,000' 
      amounts = '$100,000'
      percentage = '12%'
      rate = 'width: 40%'
      rating = '40%'
      > 
      </app-mycard>
    </div>

    <div class="col">
      <app-mycard 
      image = './assets/table.jpg'
      title = 'Modern Office Table Desk Computer' 
      amount = '$100,000' 
      amounts = '$150,000'
      percentage = '10%'
      rate = 'width: 80%'
      rating = '80%'
      > 
      </app-mycard>
      
    </div>

    <div class="col">
      <app-mycard 
      image = './assets/lappy.jpg'
      title = 'HP Laptop 15 Intel Core I7' 
      amount = '$1,500' 
      amounts = '$2,000'
      percentage = '5%'
      rate = 'width: 20%'
      rating = '20%'
      > 
      </app-mycard>
      
    </div>

  </div>

  <br />
  <br />

  <div class="container mb-5">
    <div class="row">

      <div class="col">
        <app-mycard 
        image = './assets/headphone.jpg'
        title = ' Bluetooth Wireless Headphone' 
        amount = '$1,000' 
        amounts = '$1,200'
        percentage = '12%'
        rate = 'width: 50%'
        rating = '50%'
        > 
        </app-mycard>
        
      </div>

      <div class="col">
        <app-mycard 
        image = './assets/chair-two.jpg'
        title = ' Stylish Racing Style Chair' 
        amount = '$3,000' 
        amounts = '$4,000'
        percentage = '12%'
        rate = 'width: 90%'
        rating = '90%'
        > 
        </app-mycard>
        
      </div>

      <div class="col">
        <app-mycard 
        image = './assets/chair-four.jpg'
        title = ' Walnew Racing Style Chair' 
        amount = '$4,000' 
        amounts = '$5,000'
        percentage = '6%'
        rate = 'width: 30%'
        rating = '30%'
        > 
        </app-mycard>
        
      </div>

    </div>

  </div>
</div>

<!-- FOOOTER -->
<app-footer></app-footer>
<!-- <router-outlet></router-outlet> -->
